<div class="container">
<p class="session_message"><b><%= session[:message] %></b></p>

<% @turn %>
<p><b>Deck: </b> <%=@turn.card.deck.name%></p>

<p><img src="<%=@turn.card.image_url%>"/></p>

<form action="/turns" method="POST">
    <input type="text" name="guess" placeholder="Guess"/>
    <input type="submit" value="Check Guess!">
    <input type ="hidden" name="deck_id" value="<%= @deck.id %>"/>
    <input type ="hidden" name="turn_id" value="<%= @turn.id %>"/>
</form>

</div>
