<h1>Showing stats for <%= @deck.name %></h1>

<p><img src="<%= @deck.cards.first.image_url %>"></p>

<% @user.turns.each do |turn| %>

<p><img src="<%= turn.card.image_url %>"></p>
<p><a>Times guessed: <%= t = turn.times_guessed %> - Answered correctly: <%= c = turn.correct_guesses %></a></p>
<p>Succes rate: <%= (100 / t) * c %></p>
<% end %>

